services:
  db:
    image: postgis/postgis:15-3.4-alpine 
    platform: linux/amd64  
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: postgres
       POSTGRES_DB: incidents_service

    ports:
      - "5433:5432" 

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d incidents_service"]
      interval: 5s
      timeout: 3s
      retries: 5

    volumes:
      - ./pg_data:/var/lib/postgresql/data
  
  cache:
    image: redis

    ports:
      - "6379:6379"

    healthcheck:
      test: ["CMD-SHELL", "redis-cli", "ping"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  server:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db:
        condition: service_healthy
      - cache:
        condition: service_healthy
